* {
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Modak&display=swap');

body {
  font-family: "Lato", sans-serif;
}

.bg-blue {
  background-color: #6895da;
}